body {
  background-color: black;
  color: #33bb45;
  text-align: center;
  font-size: 15px;
  font-family: Calibri, Arial, sans-serif;
}

.head {
  font-size: 40px;
  color: red;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #202020;
  margin-top: 15px;
}

.descriptions {
  width: 90%;
  font-size: 20px;
  border: 0px solid silver;
  background-color: #151515;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  vertical-align: middle;
  padding-bottom: 1px;
}

.note {
  width: 95%;
  background-color: #151515;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.note2 {
  width: 40%;
  background-color: #202020;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  color: #aaaaaa;
}

.descriptions, .descriptions a {
  text-decoration: none;
}

.list {
  text-align: left;
}

.grey {
  background-color: #dddddd;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.main, .main2 {
  background-color: #194247;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid silver;
}

.main2 {
  color: white;
  opacity: 0.8;
}

.main2 a:link {
  color: black;
}

.main2 a:visited {
  color: #252525;
}

.main2 a:hover, .main2 a:active {
  color: #606060;
}

.link {
  height: 30px;
  line-height: 30px;
  vertical-align: middle
}

.linkcountry {
  height: 35px;
  width: 129px;
  line-height: 30px;
  vertical-align: middle;
  border: 1px solid #999999;
  background-color: #202020;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.source a:link, .source a:visited, .source a:active {
  color: green;
}

.source a:hover {
  color: white;
}

a:visited {
  color: silver;
}

a:hover {
  color: #5555dd;
}
